.wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 320px;
  height: 120px;
  z-index: 100;

  .title {
    color: var(--text-1);
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
  }

  .input {
    width: calc(320px - 34px);
    height: 48px;
    border-radius: 8px;
    border: var(--stroke-1);
    background-color: var(--bg-1);
    padding: 0 17px;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
  }

  .error {
    color: rgba(255, 75, 75, 1);
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
  }
}

///////////////////////
input {
  all: unset;
}

::placeholder {
  color: var(--text-1);
}

input[type=password]::-ms-reveal,
input[type=password]::-ms-clear {
  display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
